* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 30px 20px;
}

h2 {
    margin: 20px;
}

.tabela-moda th {
    background-color: #BB86FC;
}

.tabela-casa th {
    background-color: #00C4B4;
}

.fundo-tabela {
    color: #fff;
    font-size: 18px;
    margin: 16px;
    padding: 5px;
}

.fundo-tabela td {
    background-color:  #424250;
    padding: 10px;
}

.fundo-tabela th {
    padding: 10px;
}