body {
  background-color: var(--neutral-dark);
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 25px;
}

.nft-card {
  max-width: 348px;
  background-color: var(--neutral-medium);
  border-radius: 15px;
  padding: 25px;
}

.nft-card .image-link{
  position: relative;
  display: flex;
}

.nft-card .image-link .image{
  width: 100%;
  border-radius: 8px;
}

.nft-card .image-link::before{
  /* display: none; */
  content: '';
  background-color: var(--primary-medium);
  width: 100%;
  height: 100%;
  position: absolute; /* usado para posicionar o elemento por cima da imagem. Tira o elemenro do contexto normal e posiciona em um contexto acima, um contexto só dele. Precisa colocar o pai como relative */
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.nft-card .image-link::after{
  /* display: none; */
  content: '';
  background: url(../images/icon-view.svg) no-repeat center;
  width: 100%;
  height: 100%;
  position: absolute; /* usado para posicionar o elemento por cima da imagem. Tira o elemenro do contexto normal e posiciona em um contexto acima, um contexto só dele. Precisa colocar o pai como relative */
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.nft-card .image-link:hover::after{
  opacity: 1;
}

.nft-card .image-link:hover::before{
  /* display: block; */
  opacity: 0.4;
}

.nft-card .title-link .title {
  font-size: 22px;
  color: #ffffff;
  margin: 20px 0 20px;
  font-weight: 600;
}

.nft-card .title-link .title:hover {
  color: var(--primary-medium);
}


.nft-card .about{
  color: var(--primary-soft);
  font-size: 18px;
  font-weight: 300;
  line-height: 25px; /* espaçamento entre as linhas */
  margin-bottom: 22px;
}

.nft-card .info{
  display: flex; /* organiza os elementos um ao lado do outro */
  justify-content: space-between;
  margin-bottom: 23px;
}

.nft-card .info .price{
  color: var(--primary-medium);
  display: flex; /* centraliza os elementos horizontalmente */
}

.nft-card .info .price::before{ /* before adiciona um elemento no HTML através do CSS */
  content: '';
  background-image: url(../images/icon-ethereum.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 11px;
  height: 20px;
  display: inline-block;
  margin-right: 6px;
}

.nft-card .info .days-left{
  color: var(--primary-soft);
  display: flex;
}

.nft-card .info .days-left::before{
  content: '';
  background: url(../images/icon-clock.svg) no-repeat center;
  width: 15px;
  display: inline-block;
  margin-right: 8px;
}

.nft-card .creator{
  display: flex;
  align-items: center;
  border-top: 1px solid var(--neutral-soft);
  padding-top: 15px;
}

.nft-card .creator .avatar{
  max-width: 35px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 15px;
}

.nft-card .creator .text{
  color: var(--primary-soft);
}


.nft-card .creator .name{
  color: #ffffff;
}

.nft-card .creator .name:hover{
  color: var(--primary-medium);
}