body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background: url(../images/bg-desktop.svg) var(--primary-violet) center center
    no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header .logo img {
  width: 200px;
  margin-left: 80px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.conteudo-principal {
  /* background-color: chocolate; */
  display: flex;
}

.conteudo-principal .info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  padding: 0 20px;
}

.conteudo-principal .info h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.conteudo-principal .info p {
  margin-bottom: 25px;
}

.conteudo-principal .info .btn-register {
  background-color: #fff;
  color: var(--primary-violet);
  width: 180px;
  height: 45px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.conteudo-principal .info .btn-register:hover {
  background-color: var(--soft-magenta);
  color: #fff;
}

.footer .social {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 120px;
  margin-bottom: 30px;
}

.footer .social a i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.footer .social a i:hover {
  color: var(--soft-magenta);
  border: 2px solid var(--soft-magenta);
}
